APP_NAME=DataSpy Decision AI
APP_ENV=development

LLM_PROVIDER=groq

GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant

OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini

EMBEDDING_PROVIDER=huggingface
VECTOR_STORE=faiss